<div class="mid">
  <h2 id="midpage">All Contacts</h2>

  <ul>
  <% Contact.all.each do |contact| %>
  <li><a href="/contacts/<%= contact.id =%>"><%=contact.first_name%>  <%=contact.last_name %></a> </li>
  <% end %>

</ul>
</div>
