<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/style.css'>
<title>Tamara's CRM</title>
  </head>
  <body>
    <div id="main">
      <header>
      <h1><img src="this_is_spinal_tap.jpg"/></h1>
      <h2>(No, it's actually Tamara's CRM)</h2>
    </header>

    <nav>

            <div class="menu">

              <p id="mainmenu">Main Menu</p>
              <ul>
                <li><a href="/contacts" >View all Contacts</a></li>
                <li><a href="/contacts/new_contact" >Add a new contact</a></li>
              </ul>

            </div>
            <%=yield%>
    <img src="to_11_.jpg" height=50% width=50% id="tap"/>
    </nav>

    <footer>
      Copywrite Tamara Stefanovic
    </footer>
</div>

  </body>
</html>
